.c-orange {
  color: #ff8d59;
}
.c-orange:hover {
  color: #383d3e;
}

.btn-rounded {
  border: 0;
  color: #383d3e;
  background-color: white;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: 0.5s color, 0.2s background-color, .15s transform;
  transition: 0.5s color, 0.2s background-color, .15s transform;
}
.btn-rounded:hover {
  text-decoration: none;
  background-color: #383d3e;
  color: white;
}
.btn-rounded.black {
  background-color: #383d3e;
  color: white;
}
.btn-rounded.black:hover {
  background-color: white;
  color: #383d3e;
}
.btn-rounded:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media (max-width: 768px) {
  .btn-rounded {
    font-size: 17px;
  }
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #383d3e;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 110px 0 30px;
  z-index: 1000;
}
#main-header .glow {
  pointer-events: none;
  top: -110px;
  left: 10%;
  width: 390px;
  background: #383d3e;
  -webkit-box-shadow: 0 0 60px #fc7433;
          box-shadow: 0 0 60px #fc7433;
  border-radius: 50%;
  height: 110px;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#main-header .logo img {
  width: 135px;
}
#main-header > nav {
  margin: auto;
}
#main-header > nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
#main-header > nav a.active {
  color: #cbcab5;
}
#main-header .btn-menu {
  z-index: 2000;
  position: absolute;
  z-index: 5000;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}
#main-header .btn-menu span {
  margin: 2px 0;
  width: 25px;
  height: 2px;
  background: white;
  -webkit-transition: 0.4s opacity;
  transition: 0.4s opacity;
}
#main-header.active .btn-menu {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#main-header.active .btn-menu span:first-child {
  opacity: 0;
}
#main-header.active .btn-menu span:last-child {
  opacity: 0;
}
@media (max-width: 730px) {
  #main-header > nav {
    display: none;
  }
}

.menu {
  background: #383d3e;
  position: fixed;
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 500;
}
.menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  padding: 45px;
}
.menu nav a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
.menu nav a.active {
  color: #cbcab5;
}
.menu footer {
  margin-top: auto;
  padding: 25px;
  text-align: center;
}
.menu footer img {
  width: 130px;
}
.menu footer p {
  margin: 15px 0 0 0;
  color: #cec4af;
  font-size: 14px;
  letter-spacing: 0.04em;
}
.menu.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.footer-top {
  background-image: url("../img/footer-color-2.jpg");
  background-size: cover;
  background-position: bottom center;
  padding: 100px 0;
  height: 40vw;
  max-height: 390px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer-top .btn-volver {
  color: white;
  font-size: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-top .btn-volver svg {
  fill: white;
  width: 14px;
}
@media (max-width: 768px) {
  .footer-top {
    padding: 100px 0 50px 0;
  }
}

.main-footer {
  margin-top: auto;
  padding: 100px 0 50px 0;
  overflow: hidden;
  background-color: #443f3f;
  text-align: center;
  position: relative;
  background-image: url("../img/pattern-flip.png");
  background-size: 70%;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.main-footer .glow {
  pointer-events: none;
  width: 390px;
  background: #383d3e;
  -webkit-box-shadow: 0 0 100px #fc7433;
          box-shadow: 0 0 100px #fc7433;
  border-radius: 50%;
  height: 110px;
  position: absolute;
  bottom: -110px;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.main-footer img {
  width: 130px;
}
.main-footer .content {
  position: relative;
}
.main-footer .content p {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #cec4af;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin: 0;
}
@media (max-width: 768px) {
  .main-footer {
    background-size: auto 100%;
  }
  .main-footer .content p {
    position: relative;
    margin-top: 20px;
  }
}

body {
  font-family: "Cabin", "Helvetica", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.main-wrapper {
  width: 100vw;
  padding-top: 80px;
  overflow: hidden;
}

.hero-wrapper {
  position: relative;
  background-color: #a18f8b;
  overflow: hidden;
}
.hero-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  height: 55vw;
  max-height: 850px;
  min-height: 420px;
}
.hero-wrapper .hero-wrapper--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hero-wrapper .hero-wrapper--container:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(black));
  background: linear-gradient(to right, transparent, black);
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 0.3;
  pointer-events: none;
}
.hero-wrapper .content {
  z-index: 1;
  color: white;
  width: 34%;
  padding: 0 15px 0 0;
}
.hero-wrapper .content h1 {
  font-size: 35px;
  font-weight: 400;
}
.hero-wrapper .content .content-button {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.hero-wrapper .content .content-button p {
  margin: 10px 0 0 0;
}
.hero-wrapper .content .content-button:before {
  content: "";
  width: 1px;
  height: 150px;
  background-color: white;
  display: inline-block;
  position: absolute;
  bottom: -100%;
  left: 50%;
  top: 120%;
}
@media (max-width: 1200px) {
  .hero-wrapper br {
    display: none;
  }
}
@media (max-width: 992px) {
  .hero-wrapper .content h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .content h1 {
    font-size: 25px;
  }
}
@media (max-width: 610px) {
  .hero-wrapper img {
    -o-object-position: right center;
       object-position: right center;
  }
  .hero-wrapper .content {
    margin: auto;
    text-align: center;
    width: 70%;
    padding: 15px;
  }
  .hero-wrapper .hero-wrapper--container:before {
    width: 100%;
    opacity: 0.5;
  }
}

.section-bienvenido {
  background-color: #ebebeb;
}
.section-bienvenido .swiper-slide {
  padding: 100px 0 130px 0;
}
.section-bienvenido h3 {
  font-size: 35px;
}
.section-bienvenido p {
  font-size: 18px;
  font-weight: 500;
}
.section-bienvenido small {
  font-size: 16px;
  display: block;
}
.section-bienvenido .btn-rounded {
  width: 250px;
  margin-bottom: 10px;
}
.section-bienvenido figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-bienvenido figure img {
  width: 50%;
  padding: 15px;
}
.section-bienvenido .swiper-pagination-bullet {
  background-color: #383d3e;
  width: 10px;
  height: 10px;
  bottom: 20px;
}
@media (max-width: 1200px) {
  .section-bienvenido br {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-bienvenido .swiper-slide {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .section-bienvenido {
    text-align: center;
  }
  .section-bienvenido .swiper-slide {
    padding: 50px 0;
  }
  .section-bienvenido figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-bienvenido figure img {
    width: 60%;
  }
  .section-bienvenido figure img:first-child {
    padding-left: 0;
    margin-left: -60px;
  }
  .section-bienvenido figure img:last-child {
    padding-right: 0;
    margin-right: -60px;
  }
}

.section-contador {
  position: relative;
  color: white;
}
.section-contador .container,
.section-contador .row,
.section-contador .col-12 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-contador .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-contador h3 {
  font-size: 35px;
}
.section-contador p {
  font-size: 18px;
  font-weight: 500;
}
.section-contador .content {
  max-width: 300px;
}
.section-contador img {
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .section-contador {
    text-align: center;
  }
  .section-contador .content {
    padding: 0 20px;
    margin: auto;
  }
}

.section-beneficios {
  padding: 100px 0;
  background-color: #383d3e;
  background-image: url("../img/pattern.png");
  background-size: 70%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.section-beneficios .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-beneficios .content .item {
  margin: 0 30px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section-beneficios .content p {
  margin: 0;
  color: white;
  line-height: 1;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", sans-serif;
}
.section-beneficios .content img {
  width: 90px;
}
@media (max-width: 800px) {
  .section-beneficios {
    padding: 70px 0;
    background-size: 100% auto;
  }
  .section-beneficios .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-beneficios .content .item {
    margin: 20px 0;
    width: 30%;
  }
}
@media (max-width: 576px) {
  .section-beneficios {
    padding: 30px 0;
  }
  .section-beneficios .content .item {
    width: 50%;
  }
  .section-beneficios .content .item img {
    width: 70px;
  }
  .section-beneficios .content p {
    font-size: 18px;
  }
}

.section-testimonios {
  padding: 100px;
  background-color: #ebebeb;
}
.section-testimonios .swiper-pagination-bullet {
  background-color: #383d3e;
  width: 10px;
  height: 10px;
  bottom: 20px;
}
.section-testimonios .quote {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-testimonios .quote .avatar {
  margin-right: 30px;
}
.section-testimonios .quote .avatar img {
  width: 120px;
  border-radius: 50%;
}
.section-testimonios .quote blockquote {
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  position: relative;
  padding: 0 50px;
  margin: 0;
}
.section-testimonios .quote blockquote:before {
  content: "";
  width: 35px;
  height: 29px;
  background-image: url("../img/quote-1.svg");
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.section-testimonios .quote blockquote:after {
  content: "";
  width: 35px;
  height: 29px;
  background-image: url("../img/quote-2.svg");
  display: inline-block;
  position: absolute;
  bottom: 40px;
  right: 0;
}
.section-testimonios .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.section-testimonios .stars .star {
  width: 25px;
  height: 25px;
  background-image: url("../img/star.svg");
  margin: 0 5px;
}
.section-testimonios .stars .star.active {
  background-image: url("../img/star-active.svg");
}
@media (max-width: 768px) {
  .section-testimonios {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .section-testimonios {
    padding: 50px 0;
  }
  .section-testimonios .quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-testimonios .quote .avatar {
    margin: 0 0 20px 0;
  }
  .section-testimonios .quote .avatar img {
    width: 80px;
  }
  .section-testimonios .quote blockquote {
    font-size: 16px;
    padding: 0 40px;
  }
  .section-testimonios .quote blockquote:after, .section-testimonios .quote blockquote:before {
    width: 25px;
    height: 21px;
  }
}

.section-precios {
  padding: 80px 0;
}
.section-precios h3 {
  margin-bottom: 40px;
  text-align: center;
}
.section-precios .item {
  width: 100%;
  border-radius: 10px;
}
.section-precios .item .item-title {
  background-color: #a3a3a3;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: "Roboto", "Helvetica", sans-serif;
  border-radius: 10px 10px 0 0;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.section-precios .item .item-row {
  background-color: #e8e8e8;
  padding: 15px 25px;
  text-align: center;
  background-image: url("../img/check.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 25px 50%;
  position: relative;
}
.section-precios .item .item-row:before {
  content: "";
  width: 80%;
  background-color: #d0d0d0;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
}
.section-precios .item .item-precio {
  background-color: #e8e8e8;
  padding: 15px 25px;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", "Helvetica", sans-serif;
}
.section-precios .item .item-btn {
  margin-top: 5px;
  background-color: #fff;
  padding: 14px;
  text-align: center;
  color: #383d3e;
  font-size: 23px;
  border-radius: 0 0 10px 10px;
  display: block;
  font-family: "Roboto", "Helvetica", sans-serif;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 992px) {
  .section-precios .item {
    margin-bottom: 20px;
  }
  .section-precios .item .item-btn {
    -webkit-box-shadow: 0 0 0 1px #e8e8e8;
            box-shadow: 0 0 0 1px #e8e8e8;
  }
}
