
.main-footer {
    padding: 30px 0;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: auto;
    .logo {
      max-width: 150px;
      margin-bottom: 15px;
    }
    .col-social{
      text-align: right;
    }
    .social {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-left: 10px; 
        border-radius: 50px;
        // border: 1px solid white;
        box-shadow: inset 0 0 0 1px white;
        transition: 0.2s background-color, 0.2s box-shadow;
        svg {
          width: 30px;
          height: 30px;
          fill: white;
          transition: 0.2s fill;
        }
        &:hover {
          box-shadow: inset 0 0 0 1px #6ee78c;
          background-color: rgba(51, 51, 51, 0.6);
          svg {
            fill: #6ee78c;
          }
        }
      }
    }
    @media(max-width: 768px){
      .col-social{
        text-align: center;
      }
      .social{
        margin-bottom: 30px;
        a{
          width: 45px;
          height: 45px;
          svg{
            width: 17px;
            height: 17px;
          }
        }
      }
      .logo{
        max-width: 100px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  .bottom-footer {
    p {
      font-size: 11px;
      color: #666666;
      margin: 0;
      text-align: center;
      padding: 20px 0;
    }
  }
  