.page-listado {
  .page-header {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .listado-buscador {
    background-color: #e6e8e8;
    padding: 20px 0;
    .buscador {
      flex-wrap: nowrap;
      align-items: flex-end;
      .buscador-button {
        button {
          width: auto;
        }
      }
    }
    .content {
      max-width: 700px;
      margin: auto;
    }
    @media (max-width: 767px) {
      padding: 40px;
      .buscador {
        align-items: center;
        input {
          width: 100%;
        }
        .buscador-fecha,
        .buscador-huesped {
          width: 100%;
        }
        .buscador-button {
          button {
            width: 100%;
          }
        }
      }
    }
  }
  .main-listado {
    padding: 30px 0;
    .container {
      max-width: 980px;
    }
    .card-destino {
      margin: 30px auto;
      width: 100%;
    }
  }
}
