$c-green: #5ce1aa;
$c-green2: #6ee78c;
$c-cyan: #04d6f1;
$c-text: #666;

$f-montserrat: "Montserrat", sans-serif;
$c-gradient-radial: radial-gradient(circle, rgba(4, 214, 241, 1) 0%, rgba(110, 231, 140, 1) 100%);
$c-gradient: linear-gradient(90deg, rgba(4, 214, 241, 1) 0%, rgba(110, 231, 140, 1) 100%);
$c-gradient2: linear-gradient(90deg, #FFFF00 0%, #00D5F5 100%);
@mixin gradient-text() {
  background: radial-gradient(circle, rgba(4, 214, 241, 1) 0%, rgba(110, 231, 140, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
