@import "src/vars";
@import "src/header";
@import "src/footer";
@import "src/elements";
@import "src/animation";
@import "src/home";
@import "src/page-listado";
@import "src/page-single";
@import "src/page-contacto";

body {
  font-size: 13px;
  font-family: $f-montserrat;
  // padding-bottom: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  @media(max-width: 768px){
    margin-top: 60px;
  }
}

.wow {
  visibility: hidden;
}